<h2><%= @play.title %></h2>
<h3><%= @play.director %></h3>
<p><%= @play.description %></p>

<div class="links btn-group">
    <% if user_signed_in? %>
      <% if @play.user_id == current_user.id %>
        <%= link_to "Back", root_path %>
        <%= link_to "Edit", edit_play_path(@play) %>
        <%= link_to "Delete", play_path, method: :delete, data: {confirm: "Are you sure you want to delete it?"} %>
      <% end %>
    <% end %>
</div>